@import "tailwindcss";
@plugin "daisyui" {
  themes: all
}

a.active {
  @apply text-accent;
}

@layer components {
  .bg-grad-primary {
    @apply justify-center bg-gradient-to-r from-primary to-black py-2 text-white;
    border-top-right-radius: var(--radius-box);
    border-top-left-radius: var(--radius-box);
  }
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  padding: 10px;
  border-radius: var(--radius-box) !important;
  background-color: var(--color-base-100) !important;
  color: var(--color-base-content) !important;
}

.react-calendar__tile {
  background: var(--color-base-100) !important;
  color: var(--color-base-content) !important;
}

.react-calendar__tile:hover {
  background: var(--color-base-300) !important;
  color: var(--color-base-content) !important;
}

.react-calendar__tile--active {
  background: var(--color-primary) !important;
  color: var(--color-base-content) !important;
}

.react-calendar__tile--active:hover {
  background: var(--color-primary) !important;
  color: var(--color-base-content) !important;
}